<!DOCTYPE html>
<head>
<%- include('head'); -%>
</head>
<form  action="/add/task" method = "post">
    News  Title : <input type = "text" name = "Title">  <br>
    Discription: <input type = "text" name = "Discription">
    <input type = "submit" value = "Submit">
 </form>