<!DOCTYPE html>
<head>
<%- include('head'); -%>
</head>
<html>
    <body>
        <h1>Welcome to ToDo List Home Page</h1>
        <p>Click on Button to add item in Todo list</p>
        <form action="/add" method="get">
            <button type="submit">Submit</button><br>
        </form>
    </body>
</html>
